
.prettierrc
.vscode/launch.json
aiscripting.code-workspace
node_modules/.package-lock.json
node_modules/myscript.ts
node_modules/types-for-adobe/AfterEffects/10.5/index.d.ts
node_modules/types-for-adobe/AfterEffects/10.5/tsconfig.json
node_modules/types-for-adobe/AfterEffects/11.0/index.d.ts
node_modules/types-for-adobe/AfterEffects/11.0/tsconfig.json
node_modules/types-for-adobe/AfterEffects/12.0/index.d.ts
node_modules/types-for-adobe/AfterEffects/13.0/index.d.ts
node_modules/types-for-adobe/AfterEffects/13.0/index.d.ts
node_modules/types-for-adobe/AfterEffects/13.0/index.d.ts
node_modules/types-for-adobe/AfterEffects/12.0/tsconfig.json
node_modules/types-for-adobe/AfterEffects/13.0/index.d.ts
node_modules/types-for-adobe/AfterEffects/13.0/tsconfig.json
node_modules/types-for-adobe/AfterEffects/13.1/index.d.ts
node_modules/types-for-adobe/AfterEffects/13.1/tsconfig.json
node_modules/types-for-adobe/AfterEffects/13.2/index.d.ts
node_modules/types-for-adobe/AfterEffects/13.2/tsconfig.json
node_modules/types-for-adobe/AfterEffects/13.6/index.d.ts
node_modules/types-for-adobe/AfterEffects/13.6/tsconfig.json
node_modules/types-for-adobe/AfterEffects/13.8/index.d.ts
node_modules/types-for-adobe/AfterEffects/13.8/tsconfig.json
node_modules/types-for-adobe/AfterEffects/14.0/index.d.ts
node_modules/types-for-adobe/AfterEffects/14.0/tsconfig.json
node_modules/types-for-adobe/AfterEffects/14.2/index.d.ts
node_modules/types-for-adobe/AfterEffects/14.2/tsconfig.json
node_modules/types-for-adobe/AfterEffects/15.0/index.d.ts
node_modules/types-for-adobe/AfterEffects/15.0/tsconfig.json
node_modules/types-for-adobe/AfterEffects/16.0/index.d.ts
node_modules/types-for-adobe/AfterEffects/16.0/tsconfig.json
node_modules/types-for-adobe/AfterEffects/16.1/index.d.ts
node_modules/types-for-adobe/AfterEffects/16.1/tsconfig.json
node_modules/types-for-adobe/AfterEffects/17.0/index.d.ts
